{% extends "base.html" %}

{% block content %}
<script>
    function change_api_key_showing_mode() {
        let api_key_textarea = document.getElementById("api_key");
        if (api_key_textarea.value.includes('•')) {
            api_key_textarea.value = api_key_textarea.getAttribute("data-apikey");
            document.getElementById("is_api_key_showing_icon").className = "fa fa-eye";
        }
        else {
            console.log("Я тут!")
            let hidden_api_key = "";
            let api_key = api_key_textarea.value;
            for (let i = 0; i < api_key.length; i++) {
                hidden_api_key += '•';
            }
            api_key_textarea.value = hidden_api_key;
            document.getElementById("is_api_key_showing_icon").className = "fa fa-eye-slash";
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card mb-4 shadow" style="width: 350px">
                <img src="{{input_src}}" class="card-img-top" alt="">
                <div class="card-body">
                    <h4 style="text-align: center; font-family: Tektur, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #017aee">
                        {{ current_user.name }}
                    </h4>
                </div>
            </div>
            <div>
                <form method="post" enctype="multipart/form-data">
                    <div>
	                    <label for="photo" class="form-label" style="font-weight: 500"> Выбрать своё фото: </label>
                        <input class="form-control" type="file" accept=".jpg" id="photo" name="profile_photo">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary"> Установить </button>
                </form>
                <br>
                {% if message %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
                <a href="/delete_photo" class="btn btn-danger"> Удалить фото </a>
            </div>
        </div>
        <div class="col">
            <h2> Данные профиля </h2>
            <form action="" method="post">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                    {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", type="email") }}
                    {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", type="password") }}
                    <div id="passwordHelpBlock" class="form-text">
                        Ваш пароль скрыт, но вы можете изменить его, вписав новый пароль в данное поле и нажав кнопку "Сохранить"
                    </div>
                    {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <p> Ключ API: </p>
                    <div class="input-group">
                        <button class="btn btn-light" type="button" id="SeeApiKeyButton" onclick="change_api_key_showing_mode()">
                            <i class="fa fa-eye" aria-hidden="true" id="is_api_key_showing_icon"></i>
                        </button>
                        <textarea readonly id="api_key" class="form-control"
                                  style="resize: none; height: 40px;"
                                  data-apikey="{{api_key}}">{{api_key}}</textarea>
                        <script> change_api_key_showing_mode(); </script>
                    </div>
                </div>
                <br>

                <a href="/devices" class="btn btn-light"> К моим устройствам </a>
                <br>
                <br>
                <a href="/saved_algorithms" class="btn btn-light"> К сохранённым алгоритмам </a>
                <br>
                <br>

                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
            <a href="/logout" class="btn btn-danger"> Выйти из аккаунта </a>
            <br>
            <br>
            <div class="row">
                <div class = "col">
                    <h4> Ваши вопросы: </h4>
                    {% for question in questions %}
                        <div class="col-md6 border rounded">
                            <h5> Тема: </h5> {{ question.theme }}
                            <h5> Вопрос: </h5> {{ question.question }}
                            <br>
                            <br>
                            <p>
                                <a href="/сhanging_question/{{question.id}}" class="btn btn-primary"> Изменить </a>
                                <a href="/delete_question/{{question.id}}" class="btn btn-danger"> Удалить  </a>
                            </p>
                        </div>
                    <br>
                    {% endfor %}
                </div>
                <div class = "col">
                    <h4> Ответы админов: </h4>
                    {% for answer in answers %}
                        <div class="col-md6 border rounded">
                            <h5> Вопрос: </h5>
                            {{ answer.question }}
                            <h5> Ответ админа: </h5>
                            {{ answer.answer }}
                        </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% for i in range(3) %}
    <br>
{% endfor %}
{% endblock %}