{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 style='font-family: "Tektur", sans-serif;
                  font-optical-sizing: auto;
                  font-weight: <weight>;
                  font-style: normal;
                  font-variation-settings:
                    "wdth" 100;'> Алгоритм движения </h2>
        <p> Создайте свой алгоритм движения робота! Используйте кнопки или пишите свой код в редакторе!</p>
    </div>
    <div class="row">
        <p style="font-weight: 500;"> Допустимые функции: </p>
        <p>
            • <code> вперед(время) </code> - движение робота прямо вперёд. В аргументах функции указывается время
            движения (в секундах).
        </p>
        <p>
            • <code> назад(время) </code> - движение робота прямо назад. В аргументах функции указывается время движения
            (в секундах).
        </p>
        <p>
            • <code> направо(время) </code> - поворот робота направо. В аргументах функции указывается время движения (в
            секундах).
        </p>
        <p>
            • <code> налево(время) </code> - поворот робота налево. В аргументах функции указывается время движения (в
            секундах).
        </p>
        <p>
            Также, вы можете писать комментарии к вашему коду. Используйте символ <code style="font-weight: 700; font-size: 20px;">//</code>,
            после которого напишите ваш комментарий
        </p>
    </div>
    <a href="/saved_algorithms" class="btn btn-secondary"> Сохранённые алгоритмы </a>
    <br>
    <br>
    <div class="row">
        <div class="col-md-auto">
            <br>
            <br>
            <br>
            <br>
            <div class="mb-3">
                <button type='button' class="btn btn-primary" style="width: 90px; height: 90px;"
                        value="налево(1)" onclick="add_function(this.value)">
                    Налево
                </button>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="mb-3">
                <button type='button' class="btn btn-primary" style="width: 90px; height: 90px;"
                        value="вперед(10)" onclick="add_function(this.value)">
                    Вперёд
                </button>
            </div>
            <img src="static/img/control_panel_logo.png" style="width: 90px; height: 90px;">
            <br>
            <div class="mb-3">
                <button type='button' class="btn btn-primary" style="width: 90px; height: 90px;"
                        value="назад(10)" onclick="add_function(this.value)">
                    Назад
                </button>
            </div>
        </div>
        <div class="col-md-auto">
            <br>
            <br>
            <br>
            <br>
            <div class="mb-3">
                <button type='button' class="btn btn-primary" style="width: 90px; height: 90px;"
                        value="направо(1)" onclick="add_function(this.value)">
                    Направо
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3">
            <label for="textarea_for_algorithm" class="form-label">
                Алгоритм:
                <br>
                <textarea class="form-control" rows="1"
                          id="algorithm_name" name="algorithm_name" style="resize: none;
                           overflow-x: auto; width: 350px">{{algorithm_name}}</textarea>
            </label>
            <textarea class="CodeMirror" id="textarea_for_algorithm"></textarea>
        </div>
    </div>
    <div class="row">
        {% if code_error_message%}
        <div class="alert alert-danger" role="alert"> {{ code_error_message }}</div>
        {% endif %}
    </div>
    <div class="row">
        <div class="mb-3">
            <button type='button' class="btn btn-primary" onclick="run_algorithm()">
                    Запустить
            </button>
        </div>
    </div>
    <div class="row">
        <div class="mb-3">
            <button type='button' class="btn btn-secondary" onclick="save_algorithm()">
                    Сохранить алгоритм
            </button>
        </div>
    </div>
    <div class="row">
        {% if saving_error_message %}
        <div class="alert alert-danger" role="alert"> {{ saving_error_message }}</div>
        {% endif %}
    </div>
    <div class="row">
        <div class="mb-3">
            <button onclick="make_new_algorithm()" class="btn btn-light">Создать новый</button>
        </div>
    </div>
</div>
<style>
    .cm-s-pseudotheme { color: #777777; } /* остальной текст (обычный символ) */
    .cm-s-pseudotheme .cm-keyword { color: #3c7dea; font-weight: bold; } /* функции */
    .cm-s-pseudotheme .cm-number { color: #45e300; } /* числа */
    .cm-s-pseudotheme .cm-operator { color: #646dce; } /* операторы +,-,/,* */
    .cm-s-pseudotheme .cm-comment { color: #b4b4b4; font-style: italic; } /* комменты */
</style>
<script>
    CodeMirror.defineMode("pseudocode", function() {
      const keywords = ["вперед", "вперёд", "направо", "налево", "назад"]; // хоть "вперёд" и передаётся в виде слова ключа для подсветки, оно не срабатывает, так как "ё" - неизвестный символ
      return {
        token: function(stream) {
          if (stream.eatSpace()) return null;

          if (stream.match(/^\/\/.*/, true) || stream.match(/^#.*/, true)) return "comment"; // комменты
          const word = stream.match(/^[а-яА-Яa-zA-Z_][а-яА-Яa-zA-Z0-9_]*/, true); // слова
          if (word) {
            if (keywords.includes(word[0])) return "keyword"; // ключевые слова
            return null; // иначе обычные слова (обычные символы)
          }

          if (stream.match(/^[0-9]+/, true)) return "number"; // числа

          if (stream.match(/^[+\-*/=<>]/, true)) { // операторы
            const next = stream.peek();
            const prev = stream.string.charAt(stream.start - 2);
            if (!next || /\s|[\(\)\[\],;]/.test(next) || /^[0-9]+/.test(prev) || /^[0-9]+/.test(next)) { return "operator"; }
            stream.backUp(1);
          }

          stream.next(); // переходим к след символу
          return null; // иначе, это просто текст (обычный символ)
        }
      };
    });

    var editor = CodeMirror.fromTextArea(document.getElementById("textarea_for_algorithm"), { // Создаём CodeMirror под textarea
      mode: "pseudocode", // Мой синтаксис
      theme: "pseudotheme", // Моя тема
        // Можешь попробовать использовать другие темы, например встроенную тему default
      lineNumbers: true
    });
</script>
<script>
    function add_function(func){
        var code = editor.getValue();
        if (code != "") {
            code = code + "\n";
        }
        code = code + func;
        editor.setValue(code);
    }
</script>

<script>
    window.onbeforeunload = function () {
        window.sessionStorage.setItem('last_algorithm', editor.getValue());
        var algorithm_name = document.getElementById("algorithm_name").value;
        if (algorithm_name != ""){
            window.sessionStorage.setItem('last_algorithm_name', algorithm_name);
        }
    }

    window.onload = function () {
        editor.setValue(window.sessionStorage.getItem('last_algorithm'));
        document.getElementById("algorithm_name").value = window.sessionStorage.getItem('last_algorithm_name')
    }
</script>

<script>
    function run_algorithm() {
        let algorithm = editor.getValue().split("\n"); // event.preventDefault();
        let encode_algorithm = encodeURIComponent(algorithm);
        window.location.href = "http://127.0.0.1:8080/run_algorithm?algorithm=" + encode_algorithm;
    }
</script>

<script>
    function save_algorithm() {
        let algorithm = editor.getValue().split('\n'); // event.preventDefault();
        let algorithm_name = document.getElementById("algorithm_name").value;
        let encode_algorithm = encodeURIComponent(algorithm);
        let encode_algorithm_name = encodeURIComponent(algorithm_name);
        window.location.href = "http://127.0.0.1:8080/save_algorithm?algorithm=" + encode_algorithm + "&algorithm_name=" + encode_algorithm_name;
    }
</script>

<script>
    function make_new_algorithm() {
        window.sessionStorage.removeItem('last_algorithm');
        window.sessionStorage.removeItem('last_algorithm_name');
        editor.setValue("");
        var algorithm_textarea = document.getElementById("algorithm_name");
        var algorithm_name = algorithm_textarea.value + "_new";
        algorithm_textarea.value = algorithm_name;
        window.location.href = "http://127.0.0.1:8080/make_new_algorithm_page";
    }
</script>

{% for i in range(22) %}
<br>
{% endfor %}
{% endblock %}