{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 style='font-family: "Tektur", sans-serif;
                  font-optical-sizing: auto;
                  font-weight: <weight>;
                  font-style: normal;
                  font-variation-settings:
                    "wdth" 100;'> Алгоритм движения </h2>
        <p> Создайте свой алгоритм движения робота! Используйте кнопки или пишите свой код в редакторе!</p>
    </div>
    <div class="row">
        <p style="font-weight: 500;"> Допустимые функции: </p>
        <p>
            • <code> вперёд(время) </code> - движение робота прямо вперёд. В аргументах функции указывается время
            движения (в секундах).
        </p>
        <p>
            • <code> назад(время) </code> - движение робота прямо назад. В аргументах функции указывается время движения
            (в секундах).
        </p>
        <p>
            • <code> направо(время) </code> - поворот робота направо. В аргументах функции указывается время движения (в
            секундах).
        </p>
        <p>
            • <code> налево(время) </code> - поворот робота налево. В аргументах функции указывается время движения (в
            секундах).
        </p>
    </div>
    <a href="/saved_algorithms" class="btn btn-secondary"> Сохранённые алгоритмы </a>
    <br>
    <br>
    <form action="" method="post">
        <div class="row">
            <div class="col-md-auto">
                <br>
                <br>
                <br>
                <br>
                <div class="mb-3">
                    <button type='button' class="btn btn-primary" style="width: 90px; height: 90px;"
                            value="налево(1)" onclick="add_function(this.value)">
                        Налево
                    </button>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="mb-3">
                    <button type='button' class="btn btn-primary" style="width: 90px; height: 90px;"
                            value="вперёд(10)" onclick="add_function(this.value)">
                        Вперёд
                    </button>
                </div>
                <img src="static/img/control_panel_logo.png" style="width: 90px; height: 90px;">
                <br>
                <div class="mb-3">
                    <button type='button' class="btn btn-primary" style="width: 90px; height: 90px;"
                            value="назад(10)" onclick="add_function(this.value)">
                        Назад
                    </button>
                </div>
            </div>
            <div class="col-md-auto">
                <br>
                <br>
                <br>
                <br>
                <div class="mb-3">
                    <button type='button' class="btn btn-primary" style="width: 90px; height: 90px;"
                            value="направо(1)" onclick="add_function(this.value)">
                        Направо
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="textarea_for_algorithm" class="form-label"> Алгоритм: </label>
                <textarea class="CodeMirror" id="textarea_for_algorithm"></textarea>
            </div>
        </div>
        <div class="row">
            {% if code_error_message%}
            <div class="alert alert-danger" role="alert"> {{ code_error_message }}</div>
            {% endif %}
        </div>
        <div class="row">
            <div class="mb-3">
                <button type='button' class="btn btn-primary" onclick="run_algorithm()">
                        Запустить
                </button>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <button type='button' class="btn btn-secondary" onclick="save_algorithm()">
                        Сохранить алгоритм
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        {% if saving_error_message %}
        <div class="alert alert-danger" role="alert"> {{ saving_error_message }}</div>
        {% endif %}
    </div>
</div>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("textarea_for_algorithm"), {
                    mode: "css",
                    lineNumbers: true,
                });


</script>
<script>
    function add_function(func){
        var code = editor.getValue();
        if (code != "") {
            code = code + "\n";
        }
        code = code + func;
        editor.setValue(code);
    }
</script>

<script>
    window.onbeforeunload = function () {
        window.sessionStorage.setItem('last_algorithm', editor.getValue());
    }

    window.onload = function () {
        editor.setValue(window.sessionStorage.getItem('last_algorithm'));
    }
</script>

<script>
    function run_algorithm() {
        let algorithm = editor.getValue().split("\n"); // event.preventDefault();
        let encode_algorithm = encodeURIComponent(algorithm);
        window.location.href = "http://127.0.0.1:8080/run_algorithm?algorithm=" + encode_algorithm;
    }
</script>

<script>
    function save_algorithm() {
        let algorithm = editor.getValue().split('\n'); // event.preventDefault();
        let encode_algorithm = encodeURIComponent(algorithm);
        window.location.href = "http://127.0.0.1:8080/save_algorithm?algorithm=" + encode_algorithm;
    }
</script>

{% for i in range(22) %}
<br>
{% endfor %}
{% endblock %}