{% extends "base.html" %}

{% block content %}
<style>
    .slider{
        height: 160px;
        display: flex;
        align-items: center;
        transform: rotate(270deg);
    }

  .slider input[type="range"]{
      -webkit-appearance: none;
      background-color: #3874d7;
      width: 300px;
      height: 7px;
      border-radius: 5px;
      outline: none;
      margin: 0 20px
  }

  .slider input[type="range"]::-webkit-slider-thumb{
      -webkit-appearance: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #6fa1f4;
  }

  .slider input[type="range"]::-webkit-slider-thumb:hover{
  box-shadow: 0px 0px 10px rgba(7,92,232,.3),
              0px 0px 15px rgba(7,92,232,.4),
              0px 0px 20px rgba(7,92,232,.5),
              0px 0px 25px rgba(7,92,232,.6),
              0px 0px 30px rgba(7,92,232,.7)

  }

  .slider .val {
      width: 60px;
      height: 40px;
      background-color: #ACB6E5;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: consolas;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 1.3px;
      transform: rotate(-270deg)
  }

  .slider .val::before{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      display: block;
      border: 20px solid transparent;
      border-bottom-color: #ACB6E5;
      top: 32px;
      transform: rotate(180deg)

  }
</style>

<div class="container">
    <div class="row">
        <h2 style='font-family: "Tektur", sans-serif;
                  font-optical-sizing: auto;
                  font-weight: <weight>;
                  font-style: normal;
                  font-variation-settings:
                    "wdth" 100;'> Управление роботом </h2>
        <p> Управляйте вашим роботом как обычной радиоуправляемой машинкой! Здесь же будет изображение,
        полученное с видеокамеры, установленной на роботе!</p>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="slider col">
            <input type="range" min="0" max="180" step="1" value="90" id="left_range" oninput="send_motors_speeds_to_ESP(0)">
            <div class="val" id="value_left">0</div>
        </div>
        <div class="col-md-auto" style="text-align: center;">
            <a href="/control/start" class="btn btn-primary" style="width: 200px; height: 40px;"> Старт </a>
            <br>
            <br>
            <a href="/control" class="btn btn-primary" style="width: 200px; height: 40px;" onclick="stop()"> Стоп </a>
            <br>
            <br>
            <p> Изображение с камеры:</p>
        </div>
        <div class="slider col">
            <input type="range" min="0" max="180" step="1" value="90" id="right_range" oninput="send_motors_speeds_to_ESP(1)">
            <div class="val" id="value_right">0</div>
        </div>
    </div>
</div>

<script>
    var left_slider = document.getElementById("left_range");
    var left_slider_result = document.getElementById("value_left");

    var right_slider = document.getElementById("right_range");
    var right_slider_result = document.getElementById("value_right");

    function updateValues() {
        left_slider_result.innerHTML = left_slider.value;
        right_slider_result.innerHTML = right_slider.value;
    }

    left_slider.addEventListener('input', updateValues);
    right_slider.addEventListener('input', updateValues);

    updateValues();
</script>
<script>
    function set_motor_speed(motor, motor_speed) {
        $.ajax({
            type: "GET",
            url: "http://192.168.4.1/servo_" + motor,
            data: {
                'speed': motor_speed,
            },
            success: function(response) {
                console.log(response);

            },
            error: function(response) {
                console.log(response);
            }
        });
    }
</script>
<script>
    function send_motors_speeds_to_ESP(motors) {
        if (motors == 0){
            set_motor_speed('fl', left_slider.value);
            set_motor_speed('rl', left_slider.value);
        }
        else {
            set_motor_speed('fr', 180 - right_slider.value);
            set_motor_speed('rr', 180 - right_slider.value);
        }
    }
</script>

<script>
    function stop() {
            set_motor_speed('fl', 90);
            set_motor_speed('rl', 90);
            set_motor_speed('fr', 90);
            set_motor_speed('rr', 90);
    }
</script>

{% for i in range(20) %}
    <br>
{% endfor %}
{% endblock %}
