{% extends "base.html" %}

{% block content %}
<h2 style='font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;'> Мои устройства </h2>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <a href="/searching_for_esp" class="btn btn-primary"> Поиск устройств в локальной сети </a>
            <hr>
        </div>
    </div>
    <h3> Сохранённые устройства:</h3>
    {% if not current_user.is_authenticated %}
    <div class="alert alert-danger" role="alert">Войдите в аккаунт / зарегистрируйтесь, чтобы
        просмотреть сохранённые устройства!</div>
    {% else %}
        <div class="row">
            <div class="col">
                {% if user_devices != [] %}
                    {% for device in user_devices %}
                        <div class="col-md6 border rounded">
                            • <a style="font-weight: 600; font-style: italic"> Имя устройства: </a> {{ device.name }}
                            <br>
                            • <a style="font-weight: 600; font-style: italic"> Ssid: </a> {{ device.ssid }}
                            <br>
                            <br>
                            <a href="/connect_to_esp_ssid/{{device.ssid}}" class="btn btn-secondary"> Подключиться </a>
                            <a href="/about_device/{{device.id}}" class="btn btn-secondary"> Об устройстве  </a>
                            <br>
                            <br>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-primary" role="alert" style="text-align: center;">
                        У вас нет сохранённых устройств. </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% for i in range(22) %}
    <br>
{% endfor %}
{% endblock %}