{% extends "base.html" %}

{% block content %}
<h2 style='font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;'> Мои устройства </h2>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <a href="/searching_for_esp" class="btn btn-primary"> Поиск устройств в локальной сети </a>
            <hr>
        </div>
    </div>
    <h3> Сохранённые устройства:</h3>
    {% if not current_user.is_authenticated %}
    <div class="alert alert-danger" role="alert">Войдите в аккаунт / зарегистрируйтесь, чтобы
        просмотреть сохранённые устройства!
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            {% if user_devices != [] %}
            {% for device in user_devices %}
            <div class="col-md6 border rounded" style="padding-left: 15px; margin-top: 15px;">
                • <a style="font-weight: 400; font-style: italic; font-size: 25px;"> {{ device.name }} </a>
                <br>
                <br>
                <a class="btn btn-secondary open-modal-btn" data-toggle="modal" data-target="#warning_modal"
                   data-url="/connect_to_esp_ssid/{{device.ssid}}" data-should_show="{{should_show}}"> Подключиться </a>
                <a href="/about_device/{{device.id}}" class="btn btn-secondary"> Об устройстве </a>
                <a href="/delete_device/{{device.id}}" class="btn btn-danger"> Забыть устройство </a>
                <br>
                <br>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-primary" role="alert" style="text-align: center;">
                У вас нет сохранённых устройств.
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="warning_modal" tabindex="-1" aria-labelledby="warning_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warning_modal_label">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #db0808;"> </i>
                    <a> Внимание! </a>
                </h5>
            </div>
            <div class="modal-body">
                <p>
                    Наше приложение подключается к устройствам через WiFi! После подключения ваш компьютер будет
                    отключен от
                    интернета! Вы хотите продолжить?
                </p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="showAgainCheckBox">
                        <label class="form-check-label" for="showAgainCheckBox">
                            Не показывать больше
                        </label>
                    </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-bs-dismiss="modal"> Отмена </a>
                <button class="btn btn-primary" onclick="redirect_to_esp_connection_page()">Подключить</button>
            </div>
        </div>
    </div>
</div>
<script>
    var url = "";
    $(document).on('click', '.open-modal-btn', function(e) {
    e.preventDefault();

    url = $(this).data('url');
    var should_show = $(this).data('should_show');

    if (should_show == true) {
        $('#warning_modal').modal('show');
    }
    else {
        window.location.href = "http://127.0.0.1:8080" + url;
    }
});
</script>

<script>
    function redirect_to_esp_connection_page() {
        var should_show_again = document.getElementById("showAgainCheckBox").checked;
        window.location.href = "http://127.0.0.1:8080" + url + "?show_again=" + should_show_again;
    }
</script>
{% for i in range(22) %}
<br>
{% endfor %}
{% endblock %}