{% extends "base.html" %}

{% block content %}
<h2> Документация WEB Robotics</h2>
    <div class="accordion" id="accordionDocumentation">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        О проекте
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong> Идея</strong>
        <br>
        Идея прокта - создание WEB-приложения для управления и взаимодействия со специальной робо-машинкой с целью
        обучения робототехнике в развлекательно-игровой форме. Приложение сможет общаться с роботом беспроводным
        способом и передавать ему некий набор команд для выполнения соответствующих действий
        </br>
        <strong> Актуальность </strong>
        <br>
        В наше время стремительно набирает популярность такое направление, как робототехника. Роботы и устройства
        стали неотъемлемой частью жизни каждого человека. Робототехнике обучают в школах и детских садах, и
        знания в этой области все больше помогают людям в освоении новых профессий и получению высокой
        квалификации. Поэтому очень полезно начинать заниматься робототехникой в раннем возрасте, но чтобы
        заинтересовать детей, занятия стоит проводить в игровой форме. Можно сделать вывод, что если ребёнок
        сможет играть и при этом получать представления о том, как работает из чего состоит робот, освоение
        робототехники дастся ему намного проще. И в целом, это интересная игрушка для детей разных возрастов.
        А наличие WEB-приложения, не требующего скачивания, сильно упростит задачу взаимодействия с устройством
        и поможет в полной мере выполнить обучающие функции.
        </br>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Функционал
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Конструкция робота
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
{% endblock %}