{% extends "base.html" %}

{% block content %}
 <h2 style='font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;'> Поиск устройств... </h2>
<br>
{% if available_esp == [] %}
    <div class="alert alert-danger" role="alert"> Не удалось найти устройства! Проверьте,
    включен ли ваш робот! В случае повторения ошибок <a href="/questions"> задайте вопрос</a> разработчикам.</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3> Найденные устройства: </h3>
            {% for device in available_esp %}
                <div class="col-md6 border rounded" style="height: 50">
                    • <a style="font-weight: 600; font-style: italic"> Имя: </a> {{ device.ssid }}
                    <br>
                    • <a style="font-weight: 600; font-style: italic"> id: </a> {{ device.id }}
                    <br>
                    • <a style="font-weight: 600; font-style: italic"> Bssid: </a> {{ device.bssid }}
                    <br>
                    <br>
                    <a class="btn btn-secondary open-modal-btn" data-toggle="modal" data-target="#warning_modal" data-url="/connect_to_esp_ssid/{{device.ssid}}"> Подключиться </a>
                    <a href="/save_device/{{device.ssid}}" class="btn btn-secondary"> Сохранить </a>
                    <br>
                    <br>
                </div>
            {% endfor %}
            <hr>
        </div>
    </div>
</div>
{% endif %}
<br>
<br>
<a href="/searching_for_esp" class="btn btn-primary"> Попробовать снова  </a>
<br>
<br>
<a href="/devices" class="btn btn-danger"> Назад к моим устройствам </a>

<div class="modal fade" id="warning_modal" tabindex="-1" aria-labelledby="warning_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warning_modal_label">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #db0808;"> </i>
                    <a> Внимание! </a>
                </h5>
            </div>
            <div class="modal-body">
                Наше приложение подключается к устройствам через WiFi! После подключения ваш компьютер будет отключен от
                интернета! Вы хотите продолжить?
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-bs-dismiss="modal"> Отмена </a>
                <a href="#" class="btn btn-primary" id="modalConfirmBtn"> Подключить</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.open-modal-btn', function(e) {
    e.preventDefault();

    var url = $(this).data('url');

    $('#warning_modal').find('#modalConfirmBtn').attr('href', url);

    $('#warning_modal').modal('show');
});

</script>

{% for i in range(22) %}
    <br>
{% endfor %}
{% endblock %}